# TAKING USER INPUt

In [1]:
input()

 78

'78'

In [1]:
input()

 88

'88'

In [2]:
input ("Tell your Name")

Tell your Name Abdur

'Abdur'

In [3]:
first_num=input("Enter the first number")

Enter the first number 77

In [4]:
second_num=input("Enter the second number")

Enter the second number 88

In [5]:
result= first_num+second_num

In [7]:
print(result) #here we wanted to sum two numbers but rather then adding two number it concateneted two numbers

7788

In Python, the `input()` function **always returns a string**, regardless of what the user types.

- If the user enters a **name** (`John`), it’s naturally a string.
- If the user enters a **number** (`25`), Python still treats it as a string (`"25"`).

This makes **string a universal format**, because:  
✅ **You can input anything as a string** (e.g., name, number, symbols).  
✅ **You can convert a string into other types** (e.g., `int("25")` → `25`, `float("3.14")` → `3.14`).  
❌ **You cannot directly input a name as an integer** (e.g., `int("John")` will cause an error).

In [9]:
type(first_num)

str

In [10]:
type(4)

int

In [11]:
type('4')

str

In [12]:
type(False)

bool

### So What is the solution of above problem ? Type conversion. If we convert user input type from string to integer then we can sum those two input

# Type Conversion

Type conversion is a process where we can convert one data type to another data type. But obviously, there is a clause that the data type should be convertible. 

We **cannot** convert a string to an integer unless the string contains a valid integer. For example, `"123"` can be converted to `123`, but `"Hello"` cannot.

**Conversion will happen only when it's possible.**

**There Have Two types of Type Conversion**
- implicit
- explicit

#### Implicit Type Conversion

In [14]:
# implicit 
4+4.5

8.5

What happened here? we added two dat type, integer and floating point number. and we didn't mentioned data type. python is intelligent 
enough , and implicitly add two data type

In [15]:
5+6+7j

(11+7j)

In [17]:
4+4.5+5j

(8.5+5j)

#### Explicit Type Conversion

In [18]:
#int
int(4.5)

4

In [19]:
int(4.6)

4

In [20]:
int(4.9)

4

In [22]:
int('45') #here give 45 as string and it coverted to integer as its possible to take 45 as integer

45

In [23]:
# float
float(4)

4.0

In [24]:
#str
str(5)

'5'

In [25]:
complex(4)

(4+0j)

In [26]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [28]:
int("Abdur") # Abdur can not be a number , its not possible

ValueError: invalid literal for int() with base 10: 'Abdur'

Type conversion is not permanent operation in python . When i converted a type,it does not mean that we changed the original value

In [8]:
a=4.8

In [9]:
int(a)

4

In [10]:
a

4.8

In [11]:
first_num=input("Enter the first number")
second_num=input("Enter the second number")
result= first_num+second_num

Enter the first number 77
Enter the second number 88

In [12]:
result

'7788'

In [13]:
result= int(first_num)+int(second_num)

In [14]:
result

165

In [16]:
first_num=int(input("Enter the first number"))
second_num=int(input("Enter the second number"))
result=

Enter the first number 88
Enter the second number 77

In [18]:
result=first_num+second_num

print(result)